/* src/styles/fulfillmodal.css */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it covers other content */
}

.modalContainer {
    background-color: #fff;
    padding: 30px; /* Same padding for internal space */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Same width as RequestModal */
    max-width: 600px; /* Same max width */
    min-width: 300px; /* Same min width */
}

.modalContainer form {
    display: flex;
    flex-direction: column;
}

.modalContainer textarea {
    width: 100%;
    height: 150px; /* Standard height to match RequestModal */
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    resize: none; /* No resizing */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button,
.close-button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.close-button {
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
}

.close-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}
