.homePage {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full height */
  }
  
  .feedContainer {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    gap: 1rem; /* Space between the feeds */
  }
  
  .feed {
    flex: 1; /* Each feed takes equal space */
    border-right: 9px solid #fff; /* Border on the right of the first feed */
    height: calc(100vh - 2rem); /* Height adjusted for padding */
    overflow-y: auto; /* Scroll for longer content */
  }
  
  .feed:last-child {
    border-right: none; /* No border on the right for the last feed */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
  }